@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #5a67ba;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #505cab;
  --bs-btn-hover-border-color: #505cab;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #505cab;
  --bs-btn-active-border-color: #505cab;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.txt-color-custom {
  color: #5a67ba;
  font-weight: bold !important;
}

.txt-color-custom:hover {
  color: #505cab;
  font-weight: bold !important;
}

.offcanvas-body {
  height: 100vh;
}

.nav-link {
  color: #a0a0a0;
}

.nav-link:hover {
  background-color: #e4e7f4;
}

.custom-btn {
  height: 48px;
  width: 158px;
  border-radius: 10px;
  background-color: #5a67ba;
  color: #ffffff;
}

.custom-btn:hover {
  height: 48px;
  width: 158px;
  border-radius: 10px;
  background-color: #3f4c9c;
  color: #ffffff;
}

.food-title {
  font-size: 12px;
  font-weight: 300;
  color: #a0a0a0;
}

.price {
  font-size: 14px;
  font-weight: 600;
  color: #5a67ba;
}

.btn-edit {
  background-color: #f5f7fa; /* Green */
  border: none;
  color: #04aa6d;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-delete {
  background-color: #fee2e2; /* Green */
  border: none;
  color: #f44336;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
